node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.backup
.DS_Store
.DS_Store?
*.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
vendor/bin/phpunit
